<app-toolbar></app-toolbar>
<body>
<div class="split left">
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Capabilities</a>
      <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Process Description</a>
      <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Execute</a>
      <a class="nav-item nav-link" id="nav-4-tab" data-toggle="tab" href="#nav-4" role="tab" aria-controls="nav-4" aria-selected="false">Status & Result</a>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
      <app-capabilities [urls]="urls" [versions]="versions" (messageEvent)="receiveCapabilitiesResponse($event)"></app-capabilities>
    </div>
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
      <app-process-description [capabilitiesResponse]="capabilitiesResponse" [selectedUrl]="selectedURL" [selectedVersion]="selectedVersion" [selectedProcessIdentifier]="selectedProcessIdentifier" ></app-process-description>
    </div>
    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
      <app-execute-process></app-execute-process>
      <app-execute-examples (messageEvent)="receiveExecuteProcessResponse($event)"></app-execute-examples>
    </div>

    <div class="tab-pane fade" id="nav-4" role="tabpanel" aria-labelledby="nav-profile-tab">
      <app-status-result></app-status-result>

      <div class="input-group mb-3">
        <input  [(ngModel)]="jobIdStatus" type="text" class="form-control" placeholder="Job Id" aria-label="Job Id" aria-describedby="button-addon1">
        <div class="input-group-append">
          <button  (click)="getStatus()" class="btn btn-outline-secondary" type="button" id="button-addon1">Get Status</button>
        </div>
      </div>
      <div class="input-group mb-3">
        <input [(ngModel)]="jobIdResult" type="text" class="form-control" placeholder="Job Id" aria-label="Job Id" aria-describedby="button-addon2">
        <div class="input-group-append">
          <button (click)="getResult()" class="btn btn-outline-secondary" type="button" id="button-addon2">Get Result</button>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="split right">
  <div class="jumbotron" >
    <h2>{{ rightScreenTitle }}</h2>
    <pre>{{ rightScreenJsonContent | json }}</pre>
  </div>
</div>
</body>

