<h2> Echo Process </h2>

<h3>Input</h3>
<app-b-box-input-card></app-b-box-input-card>
<pre></pre>
<app-complex-input-card></app-complex-input-card>
<pre></pre>
<app-literal-input-card></app-literal-input-card>
<pre></pre>
<app-literal-input-card></app-literal-input-card>

<h3>Output</h3>
<app-b-box-output-card></app-b-box-output-card>
<pre></pre>
<app-complex-output-card></app-complex-output-card>
<pre></pre>
<app-literal-output-card></app-literal-output-card>
<pre></pre><pre></pre><pre></pre><pre></pre><pre></pre>

<button class="button" type="submit" (click)="submit()">Execute Process</button>
