<div class="card w-75">
  <div class="card-body">
    <h5 class="card-header">{{title}}</h5>
    <h4 class="label">Type: {{type}}</h4>
    <h4 class="label">Input: {{input === '0' ? 'Optional' : 'Mandatory'}}</h4>
    <label  for="allowedTypes">Allowed types of Literal Data</label>
    <select class="form-control" name="allowedTypes" id="allowedTypes" >
      <option *ngFor="let dataDomain of literalDataDomains" [value]="dataDomain.dataType" >{{dataDomain.dataType.type}}</option>
    </select>

    <label> Value </label>
    <label>
      <input [(ngModel)]="literalValue" >
    </label>

  </div>
</div>
