<div class="card w-100">
  <div class="card-body">
    <h5 class="card-header">Bounding Box Input</h5>
    <h3 class="card-title">{{title}}</h3>
    <h4 class="label">Input: {{input}}</h4>
    <h4 class="label">Type: {{type}}</h4>

    <label> Select MimeType/Schema/Encoding </label>
    <mat-form-field appearance="fill">
      <mat-label>Select Format</mat-label>
      <mat-select [(ngModel)]="selectedMimeTypeFormat">
        <mat-option *ngFor="let format of formatList" [value]="format">
          {{format}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <pre></pre>
    <label>Select Coordinate Reference System</label>
    <mat-form-field appearance="fill">
      <mat-label>Select CRS</mat-label>
      <mat-select [(ngModel)]="selectedCoordinateReferenceSystem" >
        <mat-option *ngFor="let format of crsList" [value]="format">
          {{format}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
