<div class="card w-75">
  <div class="card-body">
    <h5 class="card-header">Bounding Box Output</h5>
    <h4 class="card-title"> {{title}}</h4>
    <h5 class="label">Type: {{type}}</h5>

    <label  for="transmissionMode">Select Transmission Mode</label>
    <select class="form-control" [(ngModel)]="selectedTransmissionMode" name="transmissionMode" id="transmissionMode" ngModel required>
      <option *ngFor="let transmissionMode of transmissionModes" [value]="transmissionMode" >{{transmissionMode}}</option>
    </select>

  </div>
</div>
