<div class="card w-100">
  <div class="card-body">
    <h5 class="card-header">Literal Output</h5>
    <h4 class="card-title"> {{title}}</h4>
    <h5 class="label">Type: {{type}}</h5>
    <h4>Select Transmission Mode</h4>
    <mat-form-field appearance="fill">
      <mat-label>Transmission</mat-label>
      <mat-select>
        <mat-option *ngFor="let transmissionMode of transmissionModes" [value]="transmissionMode">
          {{transmissionMode}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
