<div class="card w-75">
  <div class="card-body">
    <h5 class="card-header">{{title}}</h5>
    <h4 class="label">Input: {{input === '0' ? 'Optional' : 'Mandatory'}}</h4>
    <h4 class="label">Type: {{type}}</h4>

    <label  for="selectedMimeTypeFormat">Select MimeType/Schema/Encoding</label>
    <select class="form-control" [(ngModel)]="selectedMimeTypeFormat" name="selectedMimeTypeFormat" id="selectedMimeTypeFormat" ngModel required>
      <option *ngFor="let format of formatList" [value]="format.mimeType" >{{format.mimeType}}</option>
    </select>

    <label for="payload">Complex Payload</label>
    <textarea name="payload" id="payload" [(ngModel)]="complexPayload"></textarea>

  </div>
</div>
