<div class="card w-75">
  <div class="card-body">
    <h5 class="card-header">Complex Data Output</h5>
    <h4 class="card-title"> {{title}}</h4>
    <h5 class="label">Type: {{type}}</h5>
    <label  for="transmissionMode">Select Transmission Mode</label>
    <select class="form-control" [(ngModel)]="selectedTransmissionMode" name="transmissionMode" id="transmissionMode" ngModel required>
      <option *ngFor="let transmissionMode of transmissionModes" [value]="transmissionMode" >{{transmissionMode}}</option>
    </select>

    <label  for="selectedMimeTypeFormat">Select MimeType/Schema/Encoding</label>
    <select class="form-control" [(ngModel)]="selectedMimeTypeFormat" name="selectedMimeTypeFormat" id="selectedMimeTypeFormat" ngModel required>
      <option *ngFor="let format of formatList" [value]="format.mimeType" >{{format.mimeType}}</option>
    </select>

  </div>
</div>
