<div class="card w-75">
  <div class="card-body">
    <h5 class="card-header">{{title}}</h5>
    <h4 class="label">Type: {{type}}</h4>
    <h4 class="label">Input: {{input === '0' ? 'Optional' : 'Mandatory'}}</h4>

    <label  for="selectedMimeTypeFormat">Select MimeType</label>
    <select class="form-control" [(ngModel)]="selectedMimeTypeFormat"
            name="selectedMimeTypeFormat" id="selectedMimeTypeFormat"  ngModel required>
      <option *ngFor="let format of formatList" [value]="format" >{{format.mimeType | json}}</option>
    </select>

    <label for="selectedCoordinateReferenceSystem">Select Coordinate Reference System</label>
    <select class="form-control" [(ngModel)]="selectedCoordinateReferenceSystem"
            name="selectedCoordinateReferenceSystem" id="selectedCoordinateReferenceSystem" ngModel required>
      <option *ngFor="let crs of crsList" [value]="crs" >{{crs}}</option>
    </select>
    <pre></pre>

    <label> Lower Left Corner
      <input matInput placeholder="Example definition of the lower left corner">
    </label>
    <pre></pre>
    <label> Upper Right Corner
      <input matInput placeholder="Example definition of the upper right corner">
    </label>


  </div>
</div>
